// // // Remember to leave your work commented out, 
// // // so we can work without affecting others work 

// // VARIABLES -------------------------------------------
// // Colors
// $header-color: green;
// $header_piece2-color: darkgreen;
// $header_piece3-color: blue;
// $article_box-color: yellow;
// $aside_box-color: yellowgreen;
// $footer-color: green;

// $font_header-color: white;
// $article_font-color: black;
// $aside_font-color: black;
// $aside_link-color: white;
// $footer_link-color: black;

// // Sizes
// $article_box-radius1: 20px;
// $article_box-radius2: 40px;
// $article_box-radius3: 40px;
// $article_box-radius4: 20px;
// $aside_box-radius1: 10px;
// $aside_box-radius2: 20px;
// $aside_box-radius3: 20px;
// $aside_box-radius4: 10px;

// // STYLE CODE ------------------------------------------
// body {
//   font-family: Arial;
//   margin: 0;
//   animation: colors 30s infinite;
// }

// @keyframes colors {
//   0% {background-color: white;}
//   25% {background-color: rgba(255, 0, 0, 0.2)}  
//   50% {background-color: rgba(0, 255, 0, 0.2)}  
//   75% {background-color: rgba(0, 0, 255, 0.2)}
// }

// @media only screen and (min-width: 35em) {

//   /* HEADER ----------------------------------------- */
//   header {
//     color: $font_header-color;
//     background: $header-color;
//     position: fixed;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     display: grid;
//     text-align: center;

//     h1 {
//       font-size: 2em;
//       margin: 15px 0 0 0;
//     }

//     h2 {
//       font-size: 0.8em;
//       font-weight: normal;
//       margin: 0 0 15px 0;
//     }
//   }

//   .summary {
//     color: $font_header-color;
//     font-size: 0.7em;
//     display: grid;
//     grid-template-columns: 70% 30%;

//     p:nth-child(1) {
//       background: $header_piece2-color;
//       padding: 10px;
//       position: fixed;
//       top: 71px;
//       left: 0px;
//       box-sizing: border-box;
//       max-width: 400px;
//       height: 45px;
//       border-bottom-right-radius: 10px;
//     }

//     p:nth-child(2) {
//       background: $header_piece3-color;
//       padding: 7px 10px;
//       position: fixed;
//       top: 71px;
//       left: 400px;
//       box-sizing: border-box;
//       max-width: 250px;
//       height: 35px;
//       border-bottom-right-radius: 10px;
//     }

//     a {
//       color: $font_header-color;
//     }
//   }

//   /* MAIN ------------------------------------------- */
//   .preamble,
//   .explanation,
//   .participation,
//   .benefits,
//   .requirements {
//     background: $article_box-color;
//     color: $article_font-color;
//     margin: 1em;
//     padding: 1em;
//     border-radius: $article_box-radius1 $article_box-radius2 $article_box-radius3 $article_box-radius4;
//     margin-right: 300px;
//     border: 1px transparent solid;
//   }
  
//   .preamble {
//     margin-top: 150px;
//   }
  
//   .requirements {
//     margin-bottom: 50px;
//   }

//   .preamble:hover,
//   .explanation:hover,
//   .participation:hover,
//   .benefits:hover,
//   .requirements:hover {
//   background: orange;
//   transition-duration: 1s;
//   border: 1px gray solid;
// }

//   /* ASIDE ------------------------------------------ */
//   aside {
//     background: $aside_box-color;
//     color: $aside_font-color;
//     padding: 10px;
//     position: fixed;
//     top: 150px;
//     right: 10px;
//     width: 30%;
//     max-width: 250px;
//     border-radius: $aside_box-radius1 $aside_box-radius2 $aside_box-radius3 $aside_box-radius4;

//     .wrapper {
//       font-size: 0.9em;
//     }

//     a {
//         color: $aside_link-color;
//     }
//   }

//   /* FOOTER ----------------------------------------- */
//   footer {
//     background: $footer-color;
//     padding: 5px;
//     width: 100%;
//     position: fixed;
//     bottom: 0px;

//     a {
//       color: $footer_link-color;
//       font-size: 0.8em;
//       font-weight: bold;
//       text-decoration: none;
//       padding: 5px 10px;
//     }
//   }
// }

// @media only screen and (max-width: 35em) {

//   /* HEADER ----------------------------------------- */
//   header {
//     color: $font_header-color;
//     background: $header-color;
//     position: fixed;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     display: grid;
//     text-align: center;

//     h1 {
//       font-size: 2em;
//       margin: 15px 0 0 0;
//     }

//     h2 {
//       font-size: 0.8em;
//       font-weight: normal;
//       margin: 0 0 15px 0;
//     }
//   }

//   .summary {
//     color: $font_header-color;
//     font-size: 0.7em;
//     display: grid;
//     grid-template-columns: 70% 30%;

//     p:nth-child(1) {
//       background: $header_piece2-color;
//       padding: 10px;
//       position: fixed;
//       top: 71px;
//       left: 0px;
//       box-sizing: border-box;
//       max-width: 70%;
//       height: 55px;
//       border-bottom-right-radius: 15px;
//     }

//     p:nth-child(2) {
//       background: $header_piece3-color;
//       padding: 7px 10px;
//       position: fixed;
//       top: 71px;
//       right: 0px;
//       box-sizing: border-box;
//       max-width: 30%;
//       height: 40px;
//     }

//     a {
//       color: $font_header-color;
//     }
//   }

//   /* MAIN ------------------------------------------- */
//   .preamble,
//   .explanation,
//   .participation,
//   .benefits,
//   .requirements {
//     background: $article_box-color;
//     margin: 1em;
//     padding: 1em;
//     border-radius: 30px;
//     border-radius: $article_box-radius1 $article_box-radius2 $article_box-radius3 $article_box-radius4;
//     border: 1px transparent solid;
//   }

//   .preamble {
//     margin-top: 150px;
//   }
  
//   .preamble:hover,
//   .explanation:hover,
//   .participation:hover,
//   .benefits:hover,
//   .requirements:hover {
//   background: orange;
//   transition-duration: 1s;
//   border: 1px gray solid;
// }

//   /* ASIDE ------------------------------------------ */
//   aside {
//     background: $aside_box-color;
//     color: $aside_font-color;
//     padding: 10px;

//     .wrapper{
//         display: grid;
//         font-size: 0.9em;
//         grid-template-columns:repeat(2,1fr); 

//         & .design-selection{
//         grid-column: 1/2;
//         position: relative;
//         left:45%;
//         bottom:5%;
//         margin-bottom: 20px;
//         padding-bottom:10px; 
//         }
//     }
// }
//   aside .wrapper div:nth-child(1n+2){
//       grid-row-end: 1;

//   }

//   /* FOOTER ----------------------------------------- */
//   footer {
//     background: $footer-color;
//     padding: 5px;
//     width: 100%;
//     position: fixed;
//     bottom: 0px;

//     a {
//       color: $footer_link-color;
//       font-size: 0.8em;
//       font-weight: bold;
//       text-decoration: none;
//       padding: 5px 10px;
//     }
//   }
// }