// Oswaldo's
// Remember to leave your work commented out, 
// so we can work without affecting others work 


// //Variables for max-width
// $small:40em;
// $medium:80em;
// $large:110em;

// //mixin for breakpoints
// @mixin breakpoint($break){
// @if $break == large{
//     @media (max-width: $large){
//         @content;
//     }
// }
// @else if $break == medium{
//     @media (max-width: $medium){
//         @content;
//     }
// }
// @else if $break == small{
//     @media (max-width: $small){
//         @content;
//     }
// }
// @else{
//     @media($break){
//         @content;
//     }
// }
// }
// .page-wrapper{
//     display: grid;
// }
// .intro >header {
//     grid-area:top;
//     background:blue;
// }
// .intro .summary{
//     background:red;
//     grid-area: next-top;
// }
// .explanation >h3{
//     grid-area: first;
//     background: gray;
// }
// .participation{
//     grid-area: second;
//     background: gray;
// }
// .benefits{
//     grid-area: third;
//     background: gray;
// }
// .preamble >h3{
//     grid-area: fourth;
//     background: gray;
// }

// .requirements > h3{
//     grid-area: fifth;
//     background: gray;
// }
// .page-wrapper{
//     grid-template-columns: repeat(5,1fr);
//     @include breakpoint(large){
//         background:blue;
//         grid-template-columns: repeat(4,1fr);
//     }
//     @include breakpoint(medium){
//         background:pink;
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-areas: 
//         ''
//     }
//     @include breakpoint(small){
//         background: green;
//     }
// }

// @media screen and (max-width: $small){
//     .page-wrapper{
    
//     grid-template-columns: 1fr;
//     grid-template-areas: 
//     'top'
//     'first'
//     'fourth'
//     'third'
//     'next-top'
//     'second';
//     }
// }
